@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
body {
  font-size: 1em;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
strong {
  font-weight: 700;
}
blockquote {
  margin: 1em 40px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:after,
q:before {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

dd,
dl,
dt,
ol,
ul {
  margin: 0;
  padding: 0;
}

a img {
  border: 0;
  vertical-align: top;
}

li,
ol,
ul {
  list-style: none;
}

address,
em,
i {
  font-style: normal;
}

figure,
form {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
}

label {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  *overflow: visible;
  box-sizing: content-box;
  border: 0;
  background: 0;
  padding: 0.4em 1em;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
  vertical-align: middle;
}

input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

select,
td {
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

::-moz-selection {
  background: #9f694d;
  color: #fff;
  text-shadow: none;
}

::selection {
  /* background: #9f694d; */
  color: #fff;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: #aaa;
}

:-moz-placeholder {
  color: #aaa;
}

input::-webkit-input-placeholder {
  color: #aaa;
}

textarea::-webkit-input-placeholder {
  color: #aaa;
}

mark {
  background-color: #fefcb4;
}

.clearfix {
  zoom: 1;
}

.cfix:after {
  content: "";
  display: block;
  clear: both;
}

.blind {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.hidden {
  display: none;
}

body,
button,
input,
select,
textarea {
  font-family: NotoSans, "Malgun Gothic", "맑은 고딕", "Nanum Gothic",
    "나눔 고딕", "돋움", dotum, sans-serif;
}

html {
  background-color: #fff;
}

body {
  min-width: 320px;
  color: #767676;
  letter-spacing: -0.07em;
  word-spacing: 0.05em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.6em;
}

em {
  color: #9f694d;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}

a {
  color: #767676;
}

.touch select {
  font-size: 16px;
}

#skipnav {
  position: absolute;
  left: -100%;
  color: #fff;
  background: #555;
  font-size: 1.6em;
}

#skipnav:focus {
  display: block;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 29999;
  padding: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
}

[type="text"],
[type="num"],
[type="tel"],
[type="file"],
[type="password"],
[type="email"],
[type="search"],
textarea {
  padding: 8px 10px;
  color: #767676;
  font-size: 14px;
  font-family: NotoSans, "Malgun Gothic", "맑은 고딕", "Nanum Gothic",
    "나눔 고딕", "돋움", dotum, sans-serif;
  line-height: 1.6;
  letter-spacing: -0.03em;
  border: 1px solid #ccc;
  background: #fff;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  *line-height: 32px;
}

[type="text"]:focus,
[type="text"]:hover,
[type="num"]:focus,
[type="num"]:hover,
[type="tel"]:focus,
[type="tel"]:hover,
[type="file"]:focus,
[type="file"]:hover,
[type="password"]:focus,
[type="password"]:hover,
[type="email"]:focus,
[type="email"]:hover,
[type="search"]:focus,
[type="search"]:hover,
textarea:focus,
textarea:hover {
  outline: #efefef solid 1px;
  border-color: #555;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

select {
  height: 36px;
  font-size: 13px;
  text-align: left;
  text-indent: 14px;
  border: 1px solid transparent;
  color: #767676;
  border-bottom: 2px solid #191919;
  vertical-align: top;
}

body,
html {
  min-height: 100%;
}
